@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${VHOYER_FONTAWESOME_NPM_AUTH_TOKEN}
@any-percent:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${ANY_PERCENT_NPM_TOKEN}
auto-install-peers=true
