:root {
  /** global tokens **********************/
  --font-attention-size: 1.1em;
  --font-attention-line-height: 1em;

  --font-size-200: 1rem;
  --font-size-300: 1.3rem;

  --space-0025: calc(2/16 * 1rem);
  --space-0050: calc(4/16 * 1rem);
  --space-0075: calc(6/16 * 1rem);
  --space-0100: calc(8/16 * 1rem);
  --space-0150: calc(12/16 * 1rem);
  --space-0200: calc(16/16 * 1rem);
  --space-0250: calc(20/16 * 1rem);
  --space-0300: calc(24/16 * 1rem);
  --space-0400: calc(32/16 * 1rem);
  --space-0500: calc(40/16 * 1rem);
  --space-0600: calc(48/16 * 1rem);
  --space-0700: calc(56/16 * 1rem);
  --space-0800: calc(64/16 * 1rem);
  --space-0900: calc(72/16 * 1rem);
  --space-1000: calc(80/16 * 1rem);
  --space-1100: calc(88/16 * 1rem);
  --space-1200: calc(96/16 * 1rem);
  --space-1300: calc(104/16 * 1rem);
  --space-1400: calc(112/16 * 1rem);
  --space-1500: calc(120/16 * 1rem);
  --space-auto: auto;

  --color-coal-deep: hsl(0,0%,0%);
  --color-coal-pure-hsl: 0,0%,10%;
  --color-coal-pure: hsl(0,0%,10%);
  --color-coal-pale: hsl(0,0%,20%);

  --color-ash-deep: hsl(39,10%,28%);
  --color-ash-pure: hsl(25,13%,82%);
  --color-ash-pale: hsl(41,63%,91%);

  --color-sugar-deep: hsl(0, 0%, 80%);
  --color-sugar-pure: hsl(0, 0%, 90%);
  --color-sugar-pale: hsl(0, 0%, 100%);

  /** theme tokens ****************************/
  --color-primary-pure-hsl: 202,66%,39%;
  --color-primary-pure: hsl(202,66%,39%);

  --color-danger-deep-hsl: 348,94%,14%;
  --color-danger-deep: hsl(348,94%,14%);
  --color-danger-pure-hsl: 359,63%,51%;
  --color-danger-pure: hsl(359,63%,51%);

  --color-warn-pure-hsl: 44,87%,52%;
  --color-warn-pure: hsl(44,100%,50%);
  --color-warn-pale-hsl: 44,87%,72%;
  --color-warn-pale: hsl(44,87%,72%);

  --color-success-pure-hsl: 82,58%,35%;
  --color-success-pure: hsl(82,58%,35%);

  --color-info-pure-hsl: 198,63%,38%;
  --color-info-pure: hsl(198,63%,38%);

  --font-family-highlight: 'IM Fell English SC', sans-serif;
  --font-family-body: 'Gentium Book Basic', serif;

  /** component tokens ****************************/
  --body-color: var(--color-coal-pure);
  --body-line-height: 1.6;

  --link-color-hsl: var(--color-primary-pure-hsl);

  --code-bgcolor-hsl: var(--color-coal-pure-hsl);

  --hr-color: var(--color-ash-pure);

  --button-bgcolor: var(--color-primary-pure);
  --button-color: var(--color-sugar-pure);
  --button-border: 1px solid var(--color-primary-deep);
  --button-padding: var(--space-0100) var(--space-0200);

  @media (prefers-color-scheme: dark) {
    /** component tokens ***********************/
    // --body-color: var(--color-sugar-pure);
    /* TODO: later */
  }
}

*,
*::before,
*::after {
  // reset everything
  appearance: none;
  background: transparent;
  border: 0;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: none;
  vertical-align: baseline;
}

html {
  color: var(--body-color);
  line-height: var(--body-line-height);
  font-family: var(--font-family-body);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6,
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-hightlight);
}

.title-1, h1 { font-size: 2rem; }
.title-2, h2 { font-size: 1.5rem; }
.title-3, h3 { font-size: 1.17rem; }
.title-4, h4 { font-size: 1rem; }
.title-5, h5 { font-size: 0.83rem; }
.title-6, h6 { font-size: 0.67rem; }

strong, b {
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: hsla(var(--link-color-hsl), 1);
  transition: 0.3s;

  @media (hover: hover) {
    &:hover {
      background-color: hsla(var(--link-color-hsl), 0.2);
    }
  }
}

code {
  display: inline-block;
  padding: var(--space-0025) var(--space-0050);
  border-radius: var(--space-0075);
  background-color: hsla(var(--code-bgcolor-hsl), 0.05);

  &:has(> pre) {
    display: block;
    overflow: auto;
  }
}

hr {
  border: none;
  border-top: 1px solid var(--hr-color);
}

button {
  border: var(--button-border);
  padding: var(--button-padding);
  background-color: var(--button-bgcolor);
  color: var(--button-color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1rem;
  display: block;
  text-align: center;
  cursor: pointer;

  &:active {
    filter: brightness(1.5) contrast(0.7);
  }
}

select, input {
  padding: var(--space-0100);
}

label {
  & > input,
  & > select {
    width: 100%;
  }
}

:is(p) + p {
  margin-top: var(--space-0200);
}

/* utils below */

.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--space-0200);
  padding-right: var(--space-0200);
}

.text-center {
  text-align: center;
}

/**
 * generate spacing utils classes like .mt-0025 and .px-1500
 * based on the --space-* variables
 */
@each $space in (
  "0025", "0050", "0075", "0100", "0150", "0200", "0250", "0300", "0400",
  "0500", "0600", "0700", "0800", "0900", "1000", "1100", "1200", "1300",
  "1400", "1500", "auto"
) {
  .m-#{$space}  { margin: var(--space-#{$space}); }
  .mt-#{$space} { margin-top: var(--space-#{$space}); }
  .mr-#{$space} { margin-right: var(--space-#{$space}); }
  .mb-#{$space} { margin-bottom: var(--space-#{$space}); }
  .ml-#{$space} { margin-left: var(--space-#{$space}); }
  .mx-#{$space} { margin-inline: var(--space-#{$space}); }
  .my-#{$space} { margin-block: var(--space-#{$space}); }

  .p-#{$space}  { padding: var(--space-#{$space}); }
  .pt-#{$space} { padding-top: var(--space-#{$space}); }
  .pr-#{$space} { padding-right: var(--space-#{$space}); }
  .pb-#{$space} { padding-bottom: var(--space-#{$space}); }
  .pl-#{$space} { padding-left: var(--space-#{$space}); }
  .px-#{$space} { padding-inline: var(--space-#{$space}); }
  .py-#{$space} { padding-block: var(--space-#{$space}); }
}
